

<div class="main">
  <div class="inner-body">
    
    <div class="record"> 
      <ul>

        <p class="facility_title">釣り堀</p>
        <div class="record-set">
          <div class="item">
            <li><img src="<%= asset_path "fishing.jpg" %>" class="img-responsive">
          </div>
          <div class="item">
            <li><p class="text">場内には3つの釣り堀がありヤマメ・イワナ・マスなどの魚を釣ることができます。釣った魚はその場で処理し串焼きにしたり、お持ち帰りいただくことも可能です。<br>
                キャンプ宿泊者だけでなく釣り堀だけのご利用も大歓迎です。</p>
          </div>
        </div>
        <p class="facility_title">キャンプサイト</p>
        <div class="record-set">
          <div class="item">
            <li><img src="<%= asset_path "fishing.jpg" %>" class="img-responsive">
          </div>
          <div class="item">
            <li><p class="text">キャンプサイト</p>
          </div>
        </div>
        <p class="facility_title">バンガロー</p>
        <div class="record-set">
          <div class="item">
            <li><img src="<%= asset_path "fishing.jpg" %>" class="img-responsive">
          </div>
          <div class="item">
            <li><p class="text">バンガロー</p>
          </div>
        </div>
        <p class="facility_title">小川</p>
        <div class="record-set">
          <div class="item">
            <li><img src="<%= asset_path "river.jpg" %>" class="img-responsive">
          </div>
          <div class="item">
            <li><p class="text">キャンプ場の目の前を流れる鳩川。<br>
              川のせせらぎを聞きながらゆったりとした時間を過ごしていただきます。6月はホタルが見頃です。</p>
          </div>
        </div>
        <p class="facility_title">バーベキューハウス</p>
        <div class="record-set">
          <div class="item">
            <li><img src="<%= asset_path "site.jpg" %>" class="img-responsive">
          </div>
          <div class="item">
            <li><p class="text">サイト区画は芝・土エリアがあり、炊事場も完備しています。バーベキューハウスもあるので大人数でのご利用も対応可能です。</p>
          </div>
        </div>
        <ul>
    </div>
  
  
  
  </div>
</div>  