
<div class="main">

  
  <div class="inner-body">


    <div class="content">

      <%# <%= form_with model: @post, local: true  do |form| %> %>
        <%# <%= form.text_area :title %><br> %>
        <%# <%= form.text_area :text %><br> %>
        <%# <%= form.file_field :image %><br> %>
        <%# <%= form.submit %> %>
      <%# <% end %> %>
      


       <%= form_tag("/posts/create", {multipart: true}) do %>
        
        <p>タイトル<input name="title" type="text"></p>
        <p>メイン画像<input name="img_name" type="file"></p>
        <p>本文<textarea name="text"></textarea></p>

        <input type="submit" value="投稿">

       <% end %>

    </div>

    
  </div>
  
</div>

